{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/hobby.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p class="h2">Hello</p>
                        <p>I am a student of Automation and Robotics in the first year graduate studies. I like challenges, and I am not afraid of hard work, eager to expand my knowledge. In the field of programming, In IT field I am interested in Software Engineering and Testing. I like working in a team and integrating.</p>
                        <p class="h2">My beginnings</p>
                        <p>I started learning coding when I was 17 because I was interested in it and would also like to create my own RPG in the future. Over time, I have gained extensive experience in programming and testing, and now I am in the learning experience designing and developing mobile and web applications.</p>
                        <div class="row">
                            <div class="col-8">
                                <p class="h2">My hobby</p>
                                <p>My greatest skill is rollerblading. I can perform rollerblading jumps, slalom riding and recently I've been able to cover longer distances on rollerblades (~50km).</p>
                            </div>
                            <div class="col-4 align-items-center justify-content-center d-flex">
                                <img class="img-fluid" src="../static/assets/img/roller-skates.png" alt="roller-skates-img" draggable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}
